<div class="p-4">
  <cps-search-form-input-row
    label="Firstname"
    [(value)]="searchModel.firstName"
    class="flex flex-row mb-2">
  </cps-search-form-input-row>

  <cps-search-form-input-row
    label="Lastname"
    [(value)]="searchModel.lastName"
    class="flex flex-row mb-2">
  </cps-search-form-input-row>

  <cps-search-form-input-row
    label="Organization"
    [(value)]="searchModel.organization"
    class="flex flex-row mb-2">
  </cps-search-form-input-row>

  <cps-search-form-input-row
    label="Position"
    [(value)]="searchModel.position"
    class="flex flex-row mb-2">
  </cps-search-form-input-row>

  <cps-search-form-input-row
    label="Keywords"
    [(value)]="searchModel.keywords"
    class="flex flex-row mb-6">
  </cps-search-form-input-row>

  <cps-search-form-footer>
  </cps-search-form-footer>

</div>